:host {
  display: block;
  position: relative;
}

.mark {
  outline-style: solid;
  outline-offset: var(--scrshot-outline-offset, 4px);
  outline-width: var(--scrshot-outline-width, 1px);
  outline-color: var(--scrshot-outline-color, red);
  display: var(--scrshot-display, block);
}

.arrow {
  visibility: none;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--scrshot-arrow-color, red);
}

.arrow.show {
  visibility: block;
}

.position-top {
  transform: rotate(180deg);
}

.position-right {
  transform: rotate(-90deg);
}

.position-left {
  transform: rotate(90deg);
}
